/* below code are written in _variables.scss file*/
$white:#FFFFFF;
$second-btn-bg:#E4F2FF;
$third-btn-bg: #D1DFBF;
$four-btn-bg: #F9DBDB;
$card-first-third-btn-bg:#696969;
$card-second-btn-color:#000080;
$card-four-btn-color:#B75F5F;
$h1-color:#212121;
$p-color:#575757;